In [1]:
import pandas as pd

In [2]:
second_20 = pd.read_csv("OneDrive/Desktop/A3/a3-2020-jul-sep.csv")
second_20

,Date and Time,OConnell St Outside Pennys,OConnell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street at CompuB,Talbot Street North,Doilier Street Burgh Quay,Dawson Street Replacement,...,College Green Bank Of Ireland,Henry Street,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street,Bachelors Walk,College Green at Church Lane,College Green - Dame St Side
0,01/06/2020 00:00,30,41,NaN,44,333,356,42,75,7,...,131,286,23,NaN,6,34,NaN,3,16,23
1,01/06/2020 01:00,26,25,NaN,22,210,699,30,144,3,...,68,152,3,NaN,5,26,NaN,11,15,7
2,01/06/2020 02:00,14,9,NaN,36,204,8,44,70,2,...,49,15,0,NaN,6,13,NaN,0,2,3
3,01/06/2020 03:00,8,6,NaN,207,9,4,46,43,3,...,40,8,3,NaN,5,8,NaN,0,1,7
4,01/06/2020 04:00,5,4,NaN,2,3,0,3,8,2,...,35,14,0,NaN,3,3,NaN,0,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,30/09/2020 19:00,591,487,NaN,275,420,688,5177,1285,7,...,NaN,908,162,NaN,250,639,NaN,367,223,243
2924,30/09/2020 20:00,336,432,NaN,415,307,547,4733,832,2,...,NaN,452,107,NaN,183,658,NaN,345,183,132
2925,30/09/2020 21:00,220,222,NaN,173,262,781,5117,635,79,...,NaN,275,81,NaN,187,419,NaN,91,92,86
2926,30/09/2020 22:00,137,166,NaN,125,172,813,3647,507,86,...,NaN,167,51,NaN,72,315,NaN,118,76,65
2927,30/09/2020 23:00,72,100,,46,131,316,4084,455,82,...,,66,35,,32,334,,36,45,55

In [93]:
first_20 = pd.read_csv("OneDrive/Desktop/A3/a3-2020-jan-jun.csv")
first_20

,Date and Time,OConnell St Outside Pennys,OConnell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street at CompuB,Talbot Street North,Doilier Street Burgh Quay,Dawson Street Replacement,...,College Green Bank Of Ireland,Henry Street,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street,Bachelors Walk,College Green at Church Lane,College Green - Dame St Side
0,01/01/2020 00:00,1662,2195,60,277,1600,3481,109,994,18,...,893,NaN,1577,NaN,1180,2593,1516.0,868,1494,1797
1,01/01/2020 01:00,1160,990,33,214,858,1870,53,745,7,...,1091,NaN,566,NaN,1133,1917,1169.0,727,676,594
2,01/01/2020 02:00,1110,856,51,219,3499,1626,71,710,15,...,1202,NaN,474,NaN,898,1889,1097.0,930,523,429
3,01/01/2020 03:00,1095,842,44,176,1804,1280,49,1065,8,...,1115,NaN,410,NaN,595,2101,989.0,561,520,365
4,01/01/2020 04:00,666,351,25,98,2562,824,40,768,9,...,1140,NaN,120,NaN,219,873,708.0,269,238,176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,30/06/2020 19:00,677,632,NaN,220,1092,1039,65,1133,123,...,414,1652.0,157,NaN,329,771,NaN,35,339,264
4363,30/06/2020 20:00,446,474,NaN,155,787,728,88,765,143,...,338,1129.0,124,NaN,187,650,NaN,34,297,162
4364,30/06/2020 21:00,300,327,NaN,126,650,722,112,629,102,...,261,773.0,84,NaN,152,440,NaN,134,183,118
4365,30/06/2020 22:00,277,259,NaN,84,557,563,113,701,69,...,257,742.0,62,NaN,70,450,NaN,45,158,87
4366,30/06/2020 23:00,178,182,NaN,59,422,270,112,466,65,...,262,343.0,74,NaN,46,264,NaN,20,135,55

In [92]:
new_2020 = first_20.append(second_20)
new_2020.rename(columns={"OConnell St Outside Pennys":"O'Connell St Outside Pennys",
                   "OConnell St Outside Clerys":"O'Connell St Outside Clerys"}, inplace=True)
new_2020

,Date and Time,O'Connell St Outside Pennys,O'Connell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street at CompuB,Talbot Street North,Doilier Street Burgh Quay,Dawson Street Replacement,...,College Green Bank Of Ireland,Henry Street,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street,Bachelors Walk,College Green at Church Lane,College Green - Dame St Side
0,01/01/2020 00:00,1662,2195,60,277,1600,3481,109,994,18,...,893,NaN,1577,NaN,1180,2593,1516.0,868,1494,1797
1,01/01/2020 01:00,1160,990,33,214,858,1870,53,745,7,...,1091,NaN,566,NaN,1133,1917,1169.0,727,676,594
2,01/01/2020 02:00,1110,856,51,219,3499,1626,71,710,15,...,1202,NaN,474,NaN,898,1889,1097.0,930,523,429
3,01/01/2020 03:00,1095,842,44,176,1804,1280,49,1065,8,...,1115,NaN,410,NaN,595,2101,989.0,561,520,365
4,01/01/2020 04:00,666,351,25,98,2562,824,40,768,9,...,1140,NaN,120,NaN,219,873,708.0,269,238,176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,30/06/2020 19:00,677,632,NaN,220,1092,1039,65,1133,123,...,414,1652.0,157,NaN,329,771,NaN,35,339,264
4363,30/06/2020 20:00,446,474,NaN,155,787,728,88,765,143,...,338,1129.0,124,NaN,187,650,NaN,34,297,162
4364,30/06/2020 21:00,300,327,NaN,126,650,722,112,629,102,...,261,773.0,84,NaN,152,440,NaN,134,183,118
4365,30/06/2020 22:00,277,259,NaN,84,557,563,113,701,69,...,257,742.0,62,NaN,70,450,NaN,45,158,87
4366,30/06/2020 23:00,178,182,NaN,59,422,270,112,466,65,...,262,343.0,74,NaN,46,264,NaN,20,135,55

<h3>The issue with the json format dataset</h3>

What can be seen in this dataset below is that the locations at which data is gathered is not the same as that of the 2019 and 2020 datasets.   

Upon extensive googling and viewing the area on Google Maps, I have found that the 3 Grafton St locations below move all the way along the street, from M&S, to the Card Gallery and then finally to where Korkys once was (now Ted Baker).

Comparing this with the Grafton St locations in the newer dataset, which covers from CompuB which is off the end of Grafton St, and then only Grafton St itself is mentioned.

As the 2010 dataset has 3 spots along Grafton Street I believe the best thing I can do is find the average of the 3 locations in 2010 and use this value to match with the Grafton Street column in the 2019-20 datasets. This is because there is no data in the old set refering to the area around CompuB, Grafton street can be accessed from many side streets. As a result, it is not safe to assume that majority of the traffic came down by CompuB as I cannot tell that from the dataset.

The Henry Street at Butlers will become Henry Street in the new dataset.

Lastly, the Clerys on OConnells street will stay the same. It can also be seen that Easons is beside Pennys on OConnells St, so these can be interchanged.

In [85]:
only_2010 = pd.read_json("OneDrive/Desktop/A3/a3-2010.json")
only_2010["Grafton Street"] = round(only_2010[["Grafton St at Card Gallery", "Grafton St at M&S", "Grafton St at Korkys"]].mean(axis=1))

new_2010 = only_2010.drop(["Grafton St at Card Gallery", "Grafton St at M&S", "Grafton St at Korkys"], axis=1)

new_2010.rename(columns={"Unnamed: 0":"Date and Time",
                          "O'Connell Street at Clerys":"O'Connell St Outside Clerys",
                          "O'Connell Street at Easons":"O'Connell St Outside Pennys",
                          "Henry Street at Butlers":"Henry Street"}, inplace=True)
new_2010

,Date and Time,O'Connell St Outside Clerys,O'Connell St Outside Pennys,Henry Street,Grafton Street
0,01/01/2010 00:00,852,131,78,595.0
1,01/01/2010 01:00,736,92,44,730.0
2,01/01/2010 02:00,1064,74,28,1259.0
3,01/01/2010 03:00,1646,106,49,1627.0
4,01/01/2010 04:00,598,35,47,571.0
...,...,...,...,...,...
8732,30/12/2010 20:00,1630,1439,2232,2357.0
8733,30/12/2010 21:00,1101,666,1074,1264.0
8734,30/12/2010 22:00,1003,577,617,1088.0
8735,30/12/2010 23:00,779,376,341,814.0
8736,31/12/2010 00:00,439,249,163,653.0

<h3>My Python program to sum every row in between one hour and the next whole hour to normalize the data</h3>

<h4>I'm sure there is an easier way, but I decided that the most time efficient approach for me was to use something I understood and could manipulate</h4>
_______________________________________________________________________________________________________________________

import sys

file = sys.argv[1]â€ƒâ€ƒ#take the file name as a command line argurment

with open(file, "r") as f:

  top = f.readline()   
  print(top.strip())   
  curr_set = 0   
  n = top.strip().split(",")   
  tot = [0] * (len(n) - 4)   
  time = None   
    
  for line in f:   
    line = line.strip().split(",")   
    time_parts = line[0].strip().split(":")   

    if time_parts[1] == "00":
      curr_set = 0
    elif time_parts[1] == "15":
      curr_set = 1
    elif time_parts[1] == "30":
      curr_set = 2
    elif time_parts[1] == "45":
      curr_set = 3

    for i in range(0, len(line) - 1):
      if time == None:
        time = time_parts[0].replace(":", "/") + ":00:00"
      if line[i + 1].strip() != "":
        tot[i] += int(line[i + 1].strip())

    curr_set += 1

    if curr_set == 4:
      for i in range(0, len(tot)):
        if tot[i] == 0:
          tot[i] == ""
        tot[i] = str(tot[i])
      print(time + "," + (",").join(tot))
      tot = [0] * (len(n) - 4)
      time = None
      curr_set = 0

In [52]:
first_19 = pd.read_csv("OneDrive/Desktop/A3/2019-jan-jun.csv")
first_19.rename(columns={"Time":"Date and Time"}, inplace=True)
first_19

,Date and Time,O'Connell St Outside Pennys,O'Connell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,"Doilier Street, Burgh Quay",Dawson Street Replacement,...,"College Green, Bank Of Ireland",Henry Street,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side
0,01/01/2019 00:00:00,1504,1914,163,238,0,0,0,0,0,...,0,597,1670,255,881,1988,140,0,0,0
1,01/01/2019 01:00:00,1187,885,102,173,0,0,0,0,0,...,0,359,767,209,723,1270,215,0,0,0
2,01/01/2019 02:00:00,1233,984,63,121,0,0,0,0,0,...,0,317,642,193,1010,1589,210,0,0,0
3,01/01/2019 03:00:00,1316,935,59,174,0,0,0,0,0,...,0,313,582,178,772,1534,204,0,0,0
4,01/01/2019 04:00:00,802,390,46,82,0,0,0,0,0,...,0,172,143,35,197,610,88,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4334,06/30/2019 19:00:00,1416,1437,126,383,1087,2534,271,629,0,...,1175,1741,455,427,1011,1257,1223,621,973,708
4335,06/30/2019 20:00:00,984,1184,46,248,775,1839,227,460,0,...,901,1040,402,262,717,1267,784,599,592,485
4336,06/30/2019 21:00:00,713,762,26,210,580,1644,148,412,0,...,683,639,308,225,509,992,603,523,532,395
4337,06/30/2019 22:00:00,579,719,27,158,549,1271,251,318,0,...,558,383,264,149,342,862,536,455,404,274
4338,06/30/2019 23:00:00,420,392,10,112,392,819,352,264,0,...,404,187,168,59,452,792,387,199,266,165

In [46]:
second_19 = pd.read_csv("OneDrive/Desktop/A3/2019-Jul-Dec.csv")
second_19.columns = ['Date and Time', 'O\'Connell St Outside Pennys', 'O\'Connell St Outside Clerys',
       'Mary Street', 'Capel Street', 'Aston Quay', 'Grafton Street @ CompuB',
       'Talbot Street North', 'Doilier Street, Burgh Quay',
       'Dawson Street Replacement', 'Dame Street', 'Talbot Street South',
       'O\'Connell St, Parnell St @ AIB',
       'Grafton Street / Nassau Street / Suffolk Street',
       'College Green, Bank Of Ireland', 'Henry Street',
       'Westmoreland Street East', 'Dawson Street', 'Liffey Street',
       'Westmoreland Street West', 'Grafton Street', 'Bachelors Walk',
       'College Green @ Church Lane', 'College Green - Dame St Side']

In [95]:
df = new_2010.append(first_19)
df = df.append(second_19)
df = df.append(new_2020)
df

,Date and Time,O'Connell St Outside Clerys,O'Connell St Outside Pennys,Henry Street,Grafton Street,Mary Street,Capel Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,...,Westmoreland Street West,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side,Grafton Street at CompuB,Doilier Street Burgh Quay,OConnell St Parnell St at AIB,Grafton Street - Nassau Street - Suffolk Street,College Green Bank Of Ireland,College Green at Church Lane
0,01/01/2010 00:00,852,131,78.0,595.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2010 01:00,736,92,44.0,730.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01/01/2010 02:00,1064,74,28.0,1259.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01/01/2010 03:00,1646,106,49.0,1627.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01/01/2010 04:00,598,35,47.0,571.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,30/06/2020 19:00,632,677,1652.0,NaN,NaN,220.0,1092.0,NaN,65.0,...,771.0,35.0,NaN,264.0,1039.0,1133.0,594.0,158.0,414.0,339.0
4363,30/06/2020 20:00,474,446,1129.0,NaN,NaN,155.0,787.0,NaN,88.0,...,650.0,34.0,NaN,162.0,728.0,765.0,431.0,111.0,338.0,297.0
4364,30/06/2020 21:00,327,300,773.0,NaN,NaN,126.0,650.0,NaN,112.0,...,440.0,134.0,NaN,118.0,722.0,629.0,280.0,63.0,261.0,183.0
4365,30/06/2020 22:00,259,277,742.0,NaN,NaN,84.0,557.0,NaN,113.0,...,450.0,45.0,NaN,87.0,563.0,701.0,153.0,54.0,257.0,158.0
4366,30/06/2020 23:00,182,178,343.0,NaN,NaN,59.0,422.0,NaN,112.0,...,264.0,20.0,NaN,55.0,270.0,466.0,111.0,25.0,262.0,135.0